:root {
--color-orange: #e67e22;
--color-white: #ecf0f1;
}

* {
margin: 0;
border: 0;
padding: 0;
}

body {
background: #34495e;
font-family: 'Roboto', sans-serif;
text-align: center;
}

header {
padding: 30px;
text-align: center;
background: #2c3e50;
border-bottom: 1px solid var(--color-white);

}

header div a {
text-align: center;
margin: 0 30px;
color: var(--color-white);
text-decoration: none;
}

header div a:hover {
color: var(--color-orange);
transition: color 700ms;
}

body div img {
border-radius: 50%;
border: 5px solid var(--color-white);
margin-top: 16px;
}

body h1 {
opacity: 0.8;
margin-top: 16px;
}

body h2 {
opacity: 0.8;
}

body ul {
opacity: 0.8;
}

body li {
opacity: 0.8;
}

.footer {
margin: 16px;
}

.footer a {
color: var(--color-white);
margin: 0 16px;
}

.footer a:hover {
color: var(--color-orange);
}